div{
    font-family: Arial, Helvetica, sans-serif; color:darkgreen;

}

span{
            font-family: Georgia, 'Times New Roman', Times, serif;
            color:chocolate;
            font-size:x-large;
        }

    .MyClass{
        font-size: 40px;
        color:yellow;
        font-weight: bold;

    }

    #MyID
{
    font-size: 30px;
        color:rgb(0, 229, 255);
        font-style:italic;
}